* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  display: none;
}


.head {
  text-align: center;
  padding: 1rem;
}

.features {
  height: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.searchBar {
  position: relative;
  width: 15rem;
  border: 3px solid rgb(222, 214, 214);
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5rem;
}

.searchBar input {
  border: none;
  outline: none;
}

.crossButton {
  position: absolute;
  top: 0.4rem;
  right: 0.9rem;
  font-weight: bolder;
  cursor: pointer;
}

.cards-feature-btns {
  background-color: #fff;
  width: 5rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 5rem;
  cursor: pointer;
}